<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

    </head>
    <body>
        <div>
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <input type="submit" value="Sign out">
            </form>
        </div>

        <div>
            <form>
                <label for="date">дата</label>
                <input type="text" name="date" readonly="readonly" value="{{date}}" />
                <label for="sum">сумма</label>
                <input type="text" name="sum" readonly="readonly" value="{{sum}}" />
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <input type="hidden" name="checkIndexFromArray" value="{{checkIndexFromArray}}" />
                <input type="hidden" name="checkIdFromDB" value="{{checkIdFromDB}}" />
                <input type="hidden" name="requestCameFromInputPage" value="{{requestCameFromInputPage}}" />
                <input type="hidden" name="requestCameFromMainPage" value="{{requestCameFromMainPage}}" />
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            </form>
        </div>

        <div>
            <form id="edit_purchase" action="/edit_purchase" method="get">
                <input type="text" name="purchaseName" placeholder="Наименование покупки">
                <input type="hidden" name="checkIndexFromArray" value="{{checkIndexFromArray}}" />
                <input type="hidden" name="checkIdFromDB" value="{{checkIdFromDB}}" />
                <input type="hidden" name="requestCameFromInputPage" value="{{requestCameFromInputPage}}" />
                <input type="hidden" name="requestCameFromMainPage" value="{{requestCameFromMainPage}}" />
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <button type="submit" form="edit_purchase">Изменить</button>
            </form>
            <form id="remove_check" action="/remove"  method="post">
                <input type="hidden" name="checkIndexFromArray" value="{{checkIndexFromArray}}" />
                <input type="hidden" name="checkIdFromDB" value="{{checkIdFromDB}}" />
                <input type="hidden" name="requestCameFromInputPage" value="{{requestCameFromInputPage}}" />
                <input type="hidden" name="requestCameFromMainPage" value="{{requestCameFromMainPage}}" />
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <button type="submit" form="remove_check">Удалить</button>
            </form>
<!--        </div>-->
<!--            <form id="return" action="/main" method="get">-->
<!--                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />-->
<!--                <button type="submit" form="remove">Вернуться</button>-->
<!--            </form>-->
<!--        <div>-->

        </div>

        <div>
            {{#purchases}}
                <div>
                    <i>{{name}}</i>
                    <i>{{category}}</i>
                    <i>{{price}}</i>
                    <i>{{quantity}}</i>
                </div>
            {{/purchases}}
        </div>
    </body>
</html>