<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <div align="center">
        <h3>Приложение</h3>
        <h1>Контроль расходов</h1>

        <a href="/main">Главная страница</a>
    </div>
</body>
</html>