<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security</title>
</head>
<body>
    <h1>Welcome to expense tracking app!</h1>

    <a href="/main">Main page</a>
</body>
</html>