<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security</title>
</head>
<body>
    <h1>Expenditure monitoring</h1>

    <a href="/main">Главная страница</a>
</body>
</html>