<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security</title>
</head>
    <body>
    <h1>Вход в систему</h1>


        <form action="/login" method="post">
            <table cellpadding="10">
                <tr>
                    <th>Введите имя пользователя Login :</th>
                    <th><input type="text" name="username"/></th>
                </tr>
                <tr>
                    <th>Введите пароль:</th>
                    <th><input type="password" name="password"/></th>
                </tr>
                <tr>
                    <th></th>
                    <th><div><input type="submit" value="Войти"/></div></th>
                </tr>
            </table>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />

        </form>
    </body>
    <a href="/registration">Регистрация</a>
</html>