<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Страница пользователя</title>
</head>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Sign out">
        </form>
    </div>

    <div align="center" >
        <p>
            <form action="/filter" method="post">
                <input type="text" name="filter">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <button type="submit">Поиск</button>
            </form>
        </p>
        <p>
            <form id="edit_check" action="/edit_check" method="get">
                <input type="text" name="checkId" placeholder="идентификатор чека" />
                <input type="hidden" name="requestCameFromInputPage" value="false" />
                <input type="hidden" name="requestCameFromMainPage" value="true" />
                <input type="hidden" name="checkIndex" value="-1" />
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            </form>
            <form id="add_check" action="/add_check" method="get">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            </form>

            <button type="submit" form="edit_check">Редактировать чек</button>
            <button type="submit" form="add_check">Добавить чек</button>
        </p>
    </div>

    <div align="center">
        <p>
            <h2>Список чеков</h2>
        </p>
        <p>
            {{#checks}}
                <div>
                    <i>{{id}}</i>
                    <i>{{date}}</i>
                    <i>{{sum}}</i>
                </div>
            {{/checks}}
        </p>
    </div>

    <p>
        <a href="/main">Вернуться к списку чеков</a>
    </p>
<!--    <p>-->
<!--        <a href="/add_check">Добавить новый чек</a>-->
<!--    </p>-->
</body>
</html>