<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

    </head>
    <body>
        <div>
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <input type="submit" value="Sign out">
            </form>
        </div>

        <div>
            <form id="edit_purchase" action="/edit_check" method="post">
                <h3>Измените данные покупки</h3>
                <p>
                    <label for="category">Категория покупки</label>
                    <select name="category" id="category">
                        <option value="продукты">продукты</option>
                        <option value="одежда">одежда</option>
                        <option value="развлечения">развлечения</option>
                    </select>
                </p>
                <p>
                    <input type="text" name="price" placeholder="цена" />
                </p>
                <p>
                    <input type="text" name="quantity" placeholder="количество" />
                </p>
                <input type="hidden" name="checkIndex" value="{{checkIndex}}" />
                <input type="hidden" name="shouldBeEdited" value="true" />
                <input type="hidden" name="shouldBeRemoved" value="false" />
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <button type="submit" form="edit_purchase">ОК</button>
            </form>
        </div>
    </body>
</html>