<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>User List</title>
</head>
<body>
<h1> Пользователи и их права</h1>
<form action="/userList" method="post">
    <table border="1"  bgcolor="white" cellpadding="10" >
        <tr>
        <th>Имя  </th>
       <th>Имя пользователя LOGIN </th>
        <th>Доступные Права</th>
        <th></th>
        </tr>
{{#users}}
        <tr>
        <td>
            {{name}}
            </td>
        <td>
            {{username}}
        </td>
            <td>
               {{#roles}}
                  {{name}}
               {{/roles}}
        </td>
        <td><a href = "/user/{{id}}">Edit</a></td>
        {{/users}}
        </tr>
    </table>
</form>
<a href = "/main">На Главную</a>
</body>
</html>