<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>User List</title>
</head>
<body>
<form action="/userList" method="post">
    <table>>
        <thead>
        <th>Name </th>
        <th>Role</th>
        <th></th>
        </thead>
{{#users}}
        <tbody>

        <th>
            {{name}}
            </th>
            <th>
               {{#roles}}
                  {{name}} " "
               {{/roles}}
        </th>
        <th><a href = "/user/{{id}}">Edit</a></th>
        {{/users}}
        </tbody>
    </table>
</form>
</body>
</html>